Xml/xsd/namespaces/any/kaleswari-ticket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://kaleswari.com/passenger/ticket" xmlns:kpt="http://kaleswari.com/passenger/ticket">
	<xs:element name="kaleswari-ticket" type="kpt:kaleswariTicketType"/>
	<xs:complexType name="kaleswariTicketType">
		<xs:sequence>
			<xs:element name="ref-no" type="xs:string"/>
			<xs:element name="service-no" type="xs:string"/>
			<xs:element name="seat-nos" type="xs:string"/>
			<xs:element name="bus-type" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
