Xml/xsd/namespaces/any/kesineni-ticket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://kesineni.com/travel/ticket" xmlns:ktt="http://kesineni.com/travel/ticket">
	<xs:element name="kesineni-ticket" type="ktt:kesineniTicketType"/>
	<xs:complexType name="kesineniTicketType">
		<xs:sequence>
			<xs:element name="ticket-no" type="xs:string"/>
			<xs:element name="bus-no" type="xs:int"/>
			<xs:element name="seat-nos" type="xs:string"/>
			<xs:element name="passengers" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
